.village-card {
  img {
    display: block;
    width: 100%;
    height: 100px;
    object-fit: cover;
  }

  .card-title-container {
    width: 100%;

    .card-title-row {
      align-items: center;

      .card-title {
        --color: rgb(48, 53, 26);
        font-size: 1rem;
        font-weight: bold;
      }

      .likes-text {
        display: flex;
        align-items: center;
        gap: 2px;

        .likes-icon {
          font-size: 1rem;
        }
      }
    }
  }

  .subtitle-text {
    vertical-align: middle;
  }
}
