.village-detail-info {
  .village-detail-info-label {
    --color: rgb(134, 134, 134);
    font-weight: bold;
    font-size: 0.6rem;
  }

  .village-detail-info-value {
    margin-top: 4px;
    --color: rgb(48, 53, 26);
    font-weight: bold;
    font-size: 0.8rem;
  }
}
